.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/app/build
/.idea/misc.xml
/.idea/gradle.xml
*.iml
/build
.DS_Store
/captures
/app/app-release.apk
/.idea/codeStyles
keystore.properties
*.apk
output.json
