.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/app/build
/.idea/misc.xml
/.idea/gradle.xml
/.idea/profile_settings.xml
*.iml
/build
.DS_Store
/captures
/app/app-release.apk
keystore.properties
*.apk
output.json
/app/release/output-metadata.json
