<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="im.fdx.v2ex">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_simple_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".ui.details.DetailsActivity"
            android:label="@string/title_activity_details"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.v2ex.com"
                    android:pathPrefix="/t/"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="v2ex.com"
                    android:pathPrefix="/t/"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.v2ex.com"
                    android:pathPrefix="/t/"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="v2ex.com"
                    android:pathPrefix="/t/"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.node.NodeActivity"
            android:label="@string/title_activity_node"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="im.fdx.v2ex.intent.node" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.v2ex.com"
                    android:pathPrefix="/go/"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.v2ex.com"
                    android:pathPrefix="/go/"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <service
            android:name=".UpdateService"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name=".provider.MyProvider"
            android:authorities="im.fdx.v2ex.provider.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:icon="@drawable/ic_profile"
            android:label="@string/menu_share"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            android:readPermission="">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <activity
            android:name=".ui.ProfileActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="im.fdx.v2ex.intent.profile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.v2ex.com"
                    android:pathPrefix="/member/"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.v2ex.com"
                    android:pathPrefix="/member/"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.node.AllNodesActivity"
            android:exported="true"
            android:parentActivityName=".ui.main.MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ui.main.CreateTopicActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>